body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}
header {
    background-color: rgba(0, 115, 230, 0.8);
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
header h1 {
    margin: 0;
}
header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
nav {
    background-color: #005bb5;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-title {
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.card-content {
    margin-bottom: 40px;
}
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
